@import "tailwindcss";

html,
body,
#root {
  height: 100%;
}

body {
  @apply bg-slate-950 text-slate-50;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "SF Pro Text",
    "SF Pro Display", "Segoe UI", sans-serif;
}
